name: publish

on:
    push:
        branches: ["main"]
    workflow_dispatch:

jobs:
    create-docker-image:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v4

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v2
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.EXAMPLE_TOKEN }}

            - name: Build image
              run: |
                docker build . -t ghcr.io/juanPDN/backend-sharing-code-app:latest
                docker push ghcr.io/juanPDN/backend-sharing-code-app:latest